.portfolio__link {
  color: #000;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.72px;
  padding-top: 20px;
  padding-bottom: 19px;
}

@media (min-width: 768px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

@media (min-width: 992px) {
  .portfolio__link {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -1.2px;
  }
}
