.footer__date {
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: #A0A0A0;
  order: 1;
}

@media (min-width: 768px) {
  .footer__date {
    font-size: 13px;
    color: #000;
    order: 0;
  }
}
