.search__btn {
  width: 44px;
  height: 44px;
  border: 0;
  background-color: initial;
  background-image: url('../../../images/search.svg');
  display: block;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
