.promo__text-block {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  order: 1;
  align-items: center;
}

@media (min-width: 550px) {
  .promo__text-block {
    order: 1;
  }
}

@media (min-width: 992px) {
  .promo__text-block {
    order: 0;
    align-items: flex-start;
  }
}
