.about-project__block {
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 35px;
  min-height: 35px;
  text-align: center;
}

.about-project__block:first-of-type {
  background-color: #000;
  color: #fff;
}
.about-project__block:nth-of-type(2) {
  background-color: #F2F2F2;
}

@media (min-width: 768px) {
  .about-project__block {
    font-size: 14px;
    line-height: 36px;
    min-height: 36px;
  }
}
