.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 329px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .page-not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }
}

@media (min-width: 992px) {
  .page-not-found {
    padding-top: 246px;
    padding-bottom: 60px;
  }
}
