.about-me__paragraph {
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 40px;
  margin: 0;
}

@media (min-width: 768px) {
  .about-me__paragraph {
    padding-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: 992px) {
  .about-me__paragraph {
    padding-bottom: 99px;
    font-size: 14px;
    line-height: 22px;
  }
}
