.sign-form__bottom-text {
  margin: 0;
  color: #a0a0a0;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .sign-form__bottom-text {
    font-size: 14px;
  }
}
