.sign-form__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 396px;
  margin: 0 auto;
  padding: 56px 30px 30px 30px;
}

@media (min-width: 768px) {
  .sign-form__container {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media (min-width: 992px) {
  .sign-form__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
