.header__btn-close {
  position: absolute;
  top: 22.44px;
  right: 22.44px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: initial;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}
