.about-project__block-title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
  padding-bottom: 16px;
}

@media (min-width: 576px) {
  .about-project__block-title {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .about-project__block-title {
    padding-bottom: 22px;
  }
}

@media (min-width: 992px) {
  .about-project__block-title {
    padding-bottom: 26px;
  }
}
