.header__burger {
  width: 44px;
  height: 44px;
  border: 0;
  background-color: initial;
  background-image: url('../../../images/burger.svg');
  display: block;
  cursor: pointer;
}

@media (min-width: 769px) {
  .header__burger {
    display: none;
  }
}
