.header {
  display: flex;
  align-items: center;
  padding: 16px 14px;
  margin-right: auto;
  margin-left: auto;
  gap: 29px;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 40px;
  border: 0;
  cursor: pointer;
  background: none;
}

.header__line {
  height: 3px;
  width: 22px;
  background: black;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-block {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.5);
  transform: translateX(100%);
  z-index: 100;
  transition: 0.5s;
  top: 0;
  right: 0;
}

.header__nav-block_open {
  display: flex;
  position: fixed;
  transform: translateX(0%);
  justify-content: flex-end;
}

.header_login {
  justify-content: space-between;
}

.header__btn-close {
  position: absolute;
  top: 13.44px;
  right: 13.44px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: initial;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}

.header__btn-login {
  font-family: "Inter", Arial, sans-serif;
  padding: 7px 12px;
  color: #fff;
  border-radius: 3px;
  background-color: #000;
  text-decoration: none;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__register {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 14px;
}

.header__nav-login {
  display: flex;
  align-items: center;
  width: 520px;
  justify-content: space-between;
  background: #fff;
  flex-direction: column;
  padding: 147px 0 125px;
}

.header__list-login {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.header__list-item {
  padding-bottom: 3px;
}

.header__login-item {
  color: #000;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.header__login-item_active {
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
}

.header__login-link {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 17px;
}

.header__login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f9f9f9;
}

.header__login-icon::before {
  display: inline-block;
  background: url(../../images/acc.svg) no-repeat center center;
  content: "";
  width: 11.5px;
  height: 14px;
}

.header__login-item_none {
  display: block;
}

@media (min-width: 576px) {
  .header {
    max-width: 540px;
  }
  .header__btn-login {
    padding: 8px 20px;
    font-size: 12px;
  }
  .header__register {
    font-size: 12px;
  }
  .header__list {
    gap: 30px;
  }
  .header__burger {
    gap: 7px;
    width: 44px;
  }
  .header__line {
    width: 28px;
  }
  .header__btn-close {
    top: 22.44px;
    right: 22.44px;
  }
  .header__nav-login {
    padding: 162px 0 125px;
  }
  .header__list-login {
    gap: 28px;
  }
  .header__login-item_active {
    padding-bottom: 5px;
  }
}

@media (min-width: 708px) {
  .header {
    max-width: 708px;
    padding: 16px 0px;
  }
}

@media (min-width: 769px) {
  .header__burger {
    display: none;
  }
  .header__nav-block {
    display: block;
    transform: translateX(0%);
    background: none;
    height: 0%;
    position: static;
  }
  .header__nav-login {
    width: 100%;
    background: none;
    flex-direction: row;
    padding: 0;
  }
  .header__list-login {
    flex-direction: row;
  }
  .header__login-item_none {
    display: none;
  }
  .header__login-item_active {
    border-bottom: none;
  }
  .header__list-item {
    padding-bottom: 0;
  }
  .header__login-item {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .header {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1140px;
    padding: 16px 0px;
  }
}
