.header__login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f9f9f9;
}

.header__login-icon::before {
  display: inline-block;
  background: url(../../../images/acc.svg) no-repeat center center;
  /* background-size: ; */
  content: "";
  width: 11.5px;
  height: 14px;
}
