.container_content-techs {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 768px) {
  .container_content-techs {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .container_content-techs {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
