.about-me__span {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 20px;
  margin: 0;
}

@media (min-width: 992px) {
  .about-me__span {
    padding-bottom: 26px;
  }
}
