.about-project__block-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 45px;
  padding-bottom: 60px;
}

@media (min-width: 576px) {
  .about-project__block-text {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .about-project__block-text {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 93px;
  }
}

@media (min-width: 992px) {
  .about-project__block-text {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 110px;
  }
}
