.promo__link {
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .6);
  padding: 10px 20px;
  text-decoration: none;
  flex-shrink: 0;
  align-self: flex-start;
}

@media screen and (max-width: 992px) {
  .promo__link {
    align-self: center;
  }
}
