.header__nav-login {
  display: flex;
  align-items: center;
  width: 520px;
  justify-content: space-between;
  background: #fff;
  flex-direction: column;
  padding: 159px 0 92px;
}

@media (min-width: 769px) {
  .header__nav-login {
    width: 100%;
    background: none;
    flex-direction: row;
    padding: 0;
  }
}
